<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hieraviz
    <%= @title if @title %>
    </title>
    <link href="css/main.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="container">
      <%= erb :_header, :layout => false %>
      <%= yield %>
      <%= erb :_footer, :layout => false %>
    </div>
  </body>
</html>
