/* general elements */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #eee;
  font-family: sans serif;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
input {
  padding: .1em .2em;
  border: 1px solid #ccc;
  border-radius: .1em;
  background-color: #fff;
}
/* Layout elements */
/* ----- Head ---- */
.head {
  padding: 1em;
  background-color: #424242;
  color: #fff;
  position: fixed;
  display: block;
  width: 100%;
  z-index: 1;
}
.head .title a {
  color: #fff;
  font-size: 2em;
  display: inline-block;
  float: right;
  line-height: .5em;
}
.head .nav {
  position: relative;
  float: left;
  display: inline-block;
}
.head .nav a {
  position: relative;
  color: #fff;
  background-color: #999;
  padding: .5em 1em;
  border-radius: .2em;
  font-weight: bold;
}
.head .nav a.focus {
  background-color: #fff;
  color: #000;
}
.head .nav a:hover {
  background-color: #fff;
  color: #000;
}

/* ----- Content ---- */
.content {
  background-color: #eee;
  position: absolute;
  top: 3em;
  bottom: 8em;
  width: 100%;
}
.side {
  background-color: #eee;
  display: inline-block;
  float: left;
}
.side .filter {
  margin: 0;
  background-color: #999;
  font-size: 1.2em;
}
.side .filter input {
  width: 100%;
  margin-bottom: .1em;
  padding: .1em 1em;
}
.side ul {
  margin: 0;
  padding: 0;
  list-style: none;
  border-right: 1px solid #ccc;
}
.side ul li {
  padding: .1em 1em;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}
.side ul li:hover {
  background-color: #fff;
}
.side ul li.focus {
  background-color: #fff;
}
.meat {
  padding: 1em;
  border: 2px solid #999;
  float: left;
  background-color: #fff;
}
.meat.wait {
  background-color: #000;
}
.meat h3 {
  margin: -1em;
  margin-bottom: 0;
  padding: .2em 1em;
  background-color: #999;
}
.meat .paramfilter {
  margin: 0 -1em;
  padding: 0 1em;
  background-color: #999;
  font-size: 1.2em;
  margin-bottom: .5em;
}
.meat .paramfilter input {
  width: 100%;
  margin-bottom: .1em;
  padding: .1em 1em;
}
.meat .row {
  margin-bottom: .5em;
}
.meat .row .paramfile {
  font-size: .8em;
  overflow: hidden;
  padding: .28em 1em;
  white-space: nowrap;
  float: right;
  cursor: pointer;
  background: #eee;
  line-height: 1.2em;
}
.meat .row .data {
  background-color: #bcd;
  padding: .1em 1em;
}
.meat .row .value {
  font-family: monospace;
  padding: .1em 1em;
}
/* ----- Foot ---- */
.foot {
  padding: 1em;
  background-color: #424242;
  color: #fff;
  position: fixed;
  display: block;
  bottom: 0;
  line-height: 1em;
  width: 100%;
}
