/* general elements */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #eee;
  font-family: sans serif;
}
a {
  color: #369;
  text-decoration: none;
}
a:hover {
  color: #993;
  text-decoration: underline;
}
input {
  padding: .1em .2em;
  border: 1px solid #ccc;
  border-radius: .1em;
  background-color: #fff;
}
/* Layout elements */
/* ----- Head ---- */
.head {
  padding: 1em;
  background-color: #424242;
  color: #fff;
  position: fixed;
  display: block;
  width: 100%;
  z-index: 1;
}
.head .title a {
  color: #fff;
  font-size: 2em;
  display: inline-block;
  float: left;
  line-height: .5em;
  margin-right: 1em;
}
.head .nav, .head .nav .base {
  position: relative;
  float: left;
  display: inline-block;
}

.head .base .current {
  position: relative;
  color: #fff;
  background-color: #666;
  padding: .5em 1em;
  border-radius: .2em;
  font-weight: bold;
  margin-right: 1em;  
  cursor: pointer;
}
.head .base .all {
  position: absolute;
  display: none;
  background-color: #fff;
  width: auto;
  overflow-x: visible;
  margin-top: 1em;
  border: 1px solid #666;
}
.head .base .all.focus {
  display: block;
}
.head .base .all .filter {
  margin: 0;
  background-color: #999;
  font-size: 1.2em;
}
.head .base .all .filter input {
  width: 100%;
  margin-bottom: .1em;
  padding: .1em 1em;
}
.head .base .all .select {
  padding: .2em 1em;
  color: #666;
  cursor: pointer;
}
.head .base .all .select:hover {
  color: #000;
  background-color: #ddd;
}
.head .nav a {
  position: relative;
  color: #fff;
  background-color: #999;
  padding: .5em 1em;
  border-radius: .2em;
  font-weight: bold;
}
.head .nav a.focus {
  background-color: #fff;
  color: #000;
}
.head .nav a:hover {
  background-color: #fff;
  color: #000;
}
.head .base {
  position: relative;
  float: right;
  display: inline-block;
  margin-left: 2em;
}
.head .auth {
  position: relative;
  display: inline-block;
  float: right;
}
.head .auth a.link {
  color: #fff;
  padding: .5em 1em;
  border-radius: .2em;
  font-weight: bold;
  background-color: #000;
  border-radius: .2em;
  cursor: pointer;
}
.head .auth a.link:hover {
  background-color: #fff;
  color: #000;
}
.head .auth a#login {
  background-color: #fff;
  color: #000;
}
.head .auth .username {
  display: inline-block;
  margin-right: .2em;
}
.head .auth .username .link {
  color: #fff;
  background-color: #999;
}
/* ----- Content ---- */
.content {
  background-color: #eee;
  position: absolute;
  top: 3em;
  bottom: 8em;
  width: 100%;
  height: 90%;
}
.error {
  padding: 2em;
}
.info tr td {
  padding-right: 2em;
}
/* ----- Sidebar ---- */
.side {
  background-color: #eee;
  display: inline-block;
  float: left;
  width: 330px;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.side .filter {
  margin: 0;
  background-color: #999;
  font-size: 1.2em;
  line-height: 1.4em;
  height: 1.4em;
  width: 330px;
  position: fixed;
}
.side .filter input {
  width: 100%;
  margin-bottom: .1em;
  padding: .1em 1em;
}
.side ul {
  margin: 0;
  padding: 0;
  margin-top: 1.8em;
  list-style: none;
  border-right: 1px solid #ccc;
}
.side ul li {
  font-size: .9em;
  padding: .1em 1em;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}
.side ul li:hover {
  background-color: #fff;
}
.side ul li.focus {
  background-color: #fff;
}
.side ul li.none {
  color: #999;
}
.side ul li .count {
  float: right;
  font-family: monospace;
}
/* ----- Meat ---- */
.meat {
  border: 2px solid #999;
  background-color: #fff;
  margin-left: 330px;
  position: relative;
  height: 100%;
  overflow-y: auto;
}
.meat.text {
  padding: 1em 2em;
}
.meat.wait {
  background-color: #ddd;
  position: relative;
}
.meat.wait:after {
  content: '\A';
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0.7;
  transition: all 1s;
  background: #fff url('/img/loader.gif') no-repeat center 200px;
}
.meat h3 {
  margin: 0em;
  margin-bottom: 0;
  padding: .2em 1em;
  background-color: #999;
}
.meat .nodenav {
  position: absolute;
  top: 0;
  line-height: 1.6em;
  right: 1em;
}
.meat .nodenav span {
  font-size: .8em;
  cursor: pointer;
  background-color: #ccc;
  margin-left: 1em;
  padding: 0.2em 1em;
}
.meat .nodenav span:hover {
  background-color: #fff;
}
.meat .nodenav span.focus {
  background-color: #fff;
}
.meat .filter {
  height: 4em;
  position: fixed;
  left: 330px;
  right: 0;
}
.meat .paramfilter {
  margin: 0;
  padding: 0 1em;
  background-color: #999;
  font-size: 1.2em;
  padding-bottom: .5em;
}
.meat .paramfilter input {
  width: 100%;
  margin-bottom: .1em;
  padding: .1em 1em;
}
.meat .rows {
  margin-top: 3.8em;
  margin-right: 330px;
}
.meat .row {
  word-wrap: break-word;
}
.meat .row.overriden {
  margin-left: 3em;
  color: #777;
  font-weight: .8em;
}
.meat .row .paramfile {
  font-size: .8em;
  overflow: hidden;
  padding: .28em 1em;
  white-space: nowrap;
  float: right;
  cursor: pointer;
  background: #eee;
  line-height: 1.2em;
}
.meat .row .data {
  background-color: #bcd;
  padding: .1em 1em;
}
.meat .row .value {
  font-family: monospace;
  padding: .1em 1em .4em;
  margin: 0;
  margin-bottom: .2em;
}
.meat .row:hover {
  background-color: #f3f3de;
}
.meat .row:hover .paramfile {
  background-color: #ee9;
}
.meat .row:hover .data {
  background-color: #dd6;
}
.meat.farms .node {
  padding: .5em 1em;
}
.meat.farms .node:hover {
  background-color: #f3f3de;
}
.meat .hierarchy {
  margin-top: 3.8em;
  background-color: #ccc;
  position: fixed;
  display: inline-block;
  float: right;
  width: 330px;
  right: 0;
  height: 80%;
  overflow-y: auto;
  overflow-x: hidden;
}
.meat .hierarchy .hierafiles {
  padding: 1em;
  font-family: monospace;
}
.meat .hierarchy .hierafiles div {
  padding: .2em 0;
}
.meat .hierarchy .nodeinfo {
  padding: 1em;
}
.meat .hierarchy .nodeinfo .var {
  padding: .2em 0;
}
.meat .hierarchy .nodeinfo .label {
  padding: 0 .5em;
}
.meat .hierarchy .nodeinfo input {
  width: 100%;
  padding: .2em .5em;
}
.meat .hierarchy .factinfo {
  padding: 1em;
}
.meat .hierarchy .factinfo .var {
  padding: .2em 0;
}
.meat .hierarchy .factinfo .label {
  padding: 0 .5em;
}
.meat .hierarchy .factinfo .label i {
  font-size: .8em;
  color: #666;
}
.meat .hierarchy .factinfo input {
  width: 100%;
  padding: .2em .5em;
}
.meat .hierarchy .updateinfo {
  padding: 0 1em 1em;
}
.meat .hierarchy .updateinfo button#updateinfo {
  -webkit-box-shadow: 0px 0px 2px 3px rgba(0,0,0,0.7);
  -moz-box-shadow: 0px 0px 2px 3px rgba(0,0,0,0.7);
  box-shadow: 0px 0px 2px 3px rgba(0,0,0,0.7);
  border-radius: .2em;
  cursor: pointer;
  margin-right: 1em;
}

.meat .hierarchy .updateinfo button {
  -webkit-box-shadow: 0px 0px 2px 3px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 2px 3px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 2px 3px rgba(0,0,0,0.3);
  border-radius: .2em;
  cursor: pointer;
  margin-right: 1em;
}

.meat .hierarchy .updateinfo button:hover {
  -webkit-box-shadow: 0px 0px 0px 3px rgba(34,168,230,1);
  -moz-box-shadow: 0px 0px 0px 3px rgba(34,168,230,1);
  box-shadow: 0px 0px 0px 3px rgba(34,168,230,1);
}
.meat .hierarchy .nodefiles {
  padding: 1em;
  font-family: monospace;
}
.meat .hierarchy .nodefiles div {
  padding: .2em 0;
}

/* ----- info ---- */
.meat .info {
  margin-top: 4.8em;
  display: table;
}
.meat .info .row {
  display: table-row;
}
.meat .info .row .infokey {
  display: table-cell;
  padding: .1em 1em;
  text-align: right;
}
.meat .info .row .infovalue {
  display: table-cell;
  font-family: monospace;
  padding: .1em 1em;
}
/* ----- Foot ---- */
.foot {
  padding: 1em;
  background-color: #424242;
  color: #fff;
  position: fixed;
  display: block;
  bottom: 0;
  line-height: 1em;
  width: 100%;
}
.foot .debug {
  font-family: monospace;
  font-size: .9em;
  background-color: #333;
  padding: .2em 1em;
  float: right;
}

/* ------ flash messages ----- */
.flash {
  position: relative;
  padding: 1em;
  cursor: pointer;
}
.flash.info {
  background-color: #4d4;
  color: #000;
}
.flash.fatal {
  background-color: #a20;
  color: #fff;
  font-weight: bold;
}
