<div class="title">
<a href="/">
<%= settings.app_name %>
</a>
</div>
<div class="nav">
<a href="/nodes" class="nodes">Nodes</a>
<a href="/farms" class="farms">Farms</a>
<a href="/modules" class="modules">Modules</a>
<a href="/resources" class="resources">Resources</a>
</div>
<% case settings.configdata['auth_method'] %>
<% when 'http' %>
<div class="auth">
<a href="/logout" id="logout">http Logout</a>
</div>
<% when 'oauth2' %>
<div class="auth">
<a href="/logout" id="logout">gitlab Logout</a>
</div>
<% else %>
<div class="auth">
No logout
</div>
<% end %>
