<div class="title">
<a href="/">
<%= settings.app_name %>
</a>
</div>
<div class="nav">
<a href="/nodes" class="nodes">Nodes</a>
<a href="/farms" class="farms">Farms</a>
<a href="/modules" class="modules">Modules</a>
<a href="/resources" class="resources">Resources</a>
</div>
<div class="auth">
<a href="/logout" id="logout">Logout</a>
</div>
