<% content_for :more_js do %>
<% if session['access_token'] -%>
<script>var session_key = "<%= session['access_token'] %>";</script>
<% end -%>
<script src="js/farms.js"></script>
<% end %>

<div class="side">
<form class="filter">
<input type="text" name="filter" />
</form>
<ul>
<% @farms.each do |farm| %>
<li class="farm" data-item="<%= farm %>"><%= farm %></li>
<% end %>
</ul>
</div>
<div class="meat farms">
</div>
