<% content_for :more_js do %>
<script src="/js/farms.js"></script>
<% end %>

<div class="side">
<form class="filter">
<input type="text" name="filter" />
</form>
<ul>
<% @farms.each do |farm| %>
<li class="farm" data-env="<%= @base %>" data-item="<%= farm %>"><%= farm %></li>
<% end %>
</ul>
</div>
<div class="meat farms">
</div>
