<% content_for :more_js do %>
<script src="/js/nodes.js"></script>
<% end %>

<div class="side">
<form class="filter">
<input type="text" name="filter" />
</form>
<ul>
<% @nodes.each do |node| %>
<li class="node" data-env="<%= @base %>" data-item="<%= node %>"><%= node %></li>
<% end %>
</ul>
</div>
<div class="meat nodes">
</div>
